:root {
    --light-theme: false;
    --color-bg: 36 34 40;
    --color-dark: 23 23 28;
    --color-neutral: 152 147 141;
    --color-text: 238 231 221;
    --color-hl: 66 63 61;
    --color-hl1: 224 212 204;
    --color-primary: 214 178 235;
    --color-primary1: 163 112 183;
    --color-primary2: 128 75 149;
    --color-secondary: 199 78 41;
    --color-secondary1: 255 154 122;
    --color-secondary2: 255 177 153;
    --color-red: 190 91 112;
    --color-green: 167 192 123;
    --color-blue: 170 206 222;
}

.light-theme {
    --color-bg: 238 231 221;
    --color-neutral: 152 147 141;
    --color-text: 66 63 61;
    --color-hl: 224 212 204;
    --color-hl1: 36 34 40;
    --color-primary: 255 177 153;
    --color-primary1: 255 154 122;
    --color-primary2: 199 78 41;
    --color-secondary: 214 178 235;
    --color-secondary1: 163 112 183;
    --color-secondary2: 128 75 149;
    --color-red: 187 42 73;
    --color-green: 88 138 0;
    --color-blue: 0 122 196;
}