@font-face {
	font-family: "Encode Sans";
	src: url('/encode-sans/EncodeSans-VariableFont_wdth,wght.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('../assets/iosevka/iosevka-light.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('../assets/iosevka/iosevka-lightoblique.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift Oblique';
	font-weight: 300;
	font-stretch: normal;
	src: url('../assets/iosevka/iosevka-lightoblique.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('../assets/iosevka/iosevka-lightitalic.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../assets/iosevka/iosevka-regular.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('../assets/iosevka/iosevka-oblique.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift Oblique';
	font-weight: 400;
	font-stretch: normal;
	src: url('../assets/iosevka/iosevka-oblique.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('../assets/iosevka/iosevka-italic.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('../assets/iosevka/iosevka-extrabold.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('../assets/iosevka/iosevka-extraboldoblique.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift Oblique';
	font-weight: 800;
	font-stretch: normal;
	src: url('../assets/iosevka/iosevka-extraboldoblique.ttf');
}

@font-face {
	font-family: 'Iosevka Makeshift';
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('../assets/iosevka/iosevka-extrabolditalic.ttf');
}